<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href='<%= DocMyRoutes.config.destination_css %>' rel='stylesheet' type='text/css'/>
</head>
<body>
  <%= body %>
</body>
</html>
